<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{'test.score.title' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="pageReady">
  <ion-list no-margin>
    <ion-item-group>
      <ion-item-divider color="primary">
        {{'answer.grade' | translate}}
      </ion-item-divider>
      <ion-item>
        {{answer.grade}}
      </ion-item>
      <ion-item-divider color="primary">
        {{'answer.duration' | translate}}
      </ion-item-divider>
      <ion-item>
        {{moment.duration(answer.duration).format('HH [' + timeLabel.hour + '] mm [' + timeLabel.minute + ']', {trim : false})}}
      </ion-item>
      <ion-item-divider color="primary" *ngIf="answer.answerCheats.length">
        {{'answer.cheat.detected' | translate}} {{answer.answerCheats.length}}x
      </ion-item-divider>
      <ng-container *ngIf="answer.answerCheats.length">
        <ion-item *ngFor="let cheat of answer.answerCheats; let idx = index; trackBy: idx">
          {{idx + 1}}. <strong>{{moment.duration(cheat.duration).format('ss [' + timeLabel.second + ']', {trim : false})}}</strong> ({{cheat.sanction}}
          {{'answer.grade' | translate}})
        </ion-item>
      </ng-container>
      <ion-item-divider color="primary">
        {{'test.answer' | translate}}
      </ion-item-divider>
      <crossword [grids]="grids" [reveal]="true"></crossword>
      <ion-item-divider color="primary">
        {{'answer.result' | translate}}
      </ion-item-divider>
      <crossword [grids]="grids" [values]="values"></crossword>
    </ion-item-group>
  </ion-list>
  <ion-list no-margin>
    <ion-item-group *ngFor="let direction of ['down', 'across']; let idxDir = index; trackBy: idxDir">
      <ion-item-divider color="primary">
        {{'test.' + direction | translate}}
      </ion-item-divider>
      <ion-item [attr.state]="getCellTruth(cell) ? 'success' : 'danger'" *ngFor="let cell of legends[direction]; let idx = index; trackBy: idx">
        <small>{{cell.position}}. {{cell.clue}}</small>
        <div>
          <small *ngIf="getCellRemark(cell) === 0">
            {{'answer.remark.hesitate' | translate}}
          </small>
          <small *ngIf="getCellRemark(cell) === 1">
            {{'answer.remark.confidence' | translate}}
          </small>
          <small *ngIf="getCellRemark(cell) < 0">
            {{'answer.remark.empty' | translate}}
          </small>
        </div>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <button ion-button color="secondary" (click)="finish()" full>
    Logout
  </button>
</ion-content>
