// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$primary: #387EF5;
$danger: #F53D3D;
$warning: #FF5722;
$success: #43A047;
[inline-block] {
  display: inline-block;
}

.error-message {
  margin-top: 5px;
  color: #4c0d0d;
}

ion-footer.copyright {
  padding: 11px;
  background: $primary;
  color: white;
  font-size: 0.9em;
}

ion-item {
  &[state="danger"] {
    background-color: $danger;
    color: white;
    & .item-inner {
      border-bottom: none!important;
    }
  }
  &[state="warning"] {
    background-color: $warning;
    color: white;
    & .item-inner {
      border-bottom: none!important;
    }
  }
  &[state="success"] {
    background-color: $success;
    color: white;
    & .item-inner {
      border-bottom: none!important;
    }
  }
}

ion-alert.test-fill-cell {
  & .alert-button-group {
    display: inline-block;
    text-align: right;
    & .alert-button {
      display: inline-block;
      &.answer-destroy>.button-inner::before {
        content: "\f398";
        color: $danger;
      }
      &.answer-hesitate>.button-inner::before {
        content: "\f2bc\f446";
        color: $warning;
      }
      &.answer-confidence>.button-inner::before {
        content: "\f2b8";
        color: $primary;
      }
      &.answer-destroy>.button-inner::before,
      &.answer-hesitate>.button-inner::before,
      &.answer-confidence>.button-inner::before {
        font-size: 25px;
        font-family: Ionicons;
      }
    }
  }
}

button .fa {
  margin-right: 5px;
}

page-auth {
  & .auth-segment {
    & .segment-md .segment-button {
      color: white;
      &.segment-activated {
        color: white;
        border-bottom-color: white;
      }
    }
  }
}

.glamour {
  background-image: url('../assets/img/bg-glamour.jpg');
  background-position: center center;
  background-size: cover;
  & .error-message {
    color: #f38686;
  }
  & .item {
    background-color: transparent;
  }
  & ion-item:not(.input-has-focus) ion-label {
    color: white!important;
  }
  & input {
    color: white;
  }
}

page-test-finish {
  & .finish {
    position: absolute;
    bottom: 0;
  }
  & .finish h3 {
    color: white;
    line-height: 63px;
    font-size: 2.8em;
  }
}

page-test {
  & .time-counter {
    position: fixed;
    z-index: 999;
    & ion-label {
      margin: 8px 0;
    }
  }
}

crossword {
  display: inline-block;
  width: 100%;
  & table {
    border-collapse: collapse;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    clear: both;
    & td {
      position: relative;
      border: 1px solid #CDCDCD;
      padding: 0;
      margin: 0;
      vertical-align: middle;
      text-align: center;
      width: 30px;
      height: 30px;
      background-color: #F4F4F4;
      & [state="disabled"] {
        background-color: #9E9E9E;
      }
      &>div {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        & .crossword-char {
          line-height: 30px;
        }
        & .crossword-number {
          position: absolute;
          left: 2px;
          top: 0;
          font-size: 10px;
        }
      }
    }
  }
}
