<ion-header>
  <ion-navbar color="primary" no-border-bottom>
    <ion-title>
      {{'test.title' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="pageReady">
  <ion-item-divider #timer color="primary" text-center class="time-counter" no-padding>
    <div *ngIf="!timeUp">
      <ion-icon name="timer"></ion-icon>
      <h2 inline-block><strong>{{timeCounter}}</strong></h2>
    </div>
  </ion-item-divider>
  <div #timerSpacer width="100%"></div>
  <crossword [grids]="grids" [values]="values" (colClick)="fillByEvent($event)"></crossword>
  <ion-list no-margin>
    <ion-item-group *ngFor="let direction of ['down', 'across']; let idxDir = index; trackBy: idxDir">
      <ion-item-divider color="primary">
        {{'test.' + direction | translate}}
      </ion-item-divider>
      <ion-item *ngFor="let cell of legends[direction]; let idx = index; trackBy: idx" (click)="fill(cell.position, cell.type)"
        [attr.state]="(getCellRemark(cell) === 1) ? 'success' : getCellRemark(cell) === 0 ? 'warning' : 'empty'">
        <small>{{cell.position}}. {{cell.clue}}</small>
        </ion-item>
    </ion-item-group>
  </ion-list>
  <button ion-button color="secondary" *ngIf="!timeUp && halfTime" (click)="finishConfirm()" full>
    Finish
  </button>
</ion-content>
